*{
  font-family: 'Roboto', sans-serif;

}

body{
  width: 100%;
}

#form-build{
  margin: 0 auto;
  width: 600px;
}

#form-build{
  display: flex;
  flex-direction: column;
}

#form-build form label{
  flex:1 ;
 
}

.wrap-input{
  display: flex;
  margin: 15px 0 0 0;
  flex-direction: column;
}

form fieldset{
  margin: 15px 0 15px 0
}

form input{
  padding: 5px 0 5px 5px;
}

form button{
  padding: 10px;
}

/* #location input{
  margin: 5px 5px 5px 0;
} */

#location{
  display: flex;
  flex-direction: column;
}

#location input{
  margin: 5px 0;
}
